.main {
    margin-left: 0.5rem;
    padding: 0.1rem 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7b4097;
    margin-bottom: 0.6rem;
    color: white;
    font-size: 1.5rem;
    border: 3px solid black;
    border-right: none;
    transition: background-color 0.3s ease;
}
.main:hover {
    border-color: white;
}

.bigText {
    font-weight: bold;
    margin: 0.3rem 0;
}
.smallText {
    font-size: 0.8rem;
}

.costNumber {
    color: rgb(71, 175, 71);
    font-weight: bold;
}

.disabled {
    background-color: rgb(51, 49, 49);
    color: grey;
}

.disabled .costNumber {
    color: #a32727;
}
